<configuration>
    <!-- 일별로 로그 파일을 생성하는 RollingFileAppender 설정 -->
    <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
        <file>logs/mylog.log</file>

        <!-- RollingPolicy 설정 -->
        <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
            <!-- 로그 파일 이름 패턴 -->
            <fileNamePattern>logs/paylog.%d{yyyy-MM-dd}.log</fileNamePattern>
        </rollingPolicy>

        <!-- 로그 메시지를 출력하는 방식 설정 -->
        <encoder>
            <pattern>%d{HH:mm:ss.SSS} [%thread] %-5level %logger{36} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- 로그 레벨 설정 -->
    <root level="info">
        <appender-ref ref="FILE" />
    </root>
</configuration>
