<html xmlns:th="http://www.thymeleaf.org" lang="ko">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="Smartro" />
    <title>SmartroPAY 연동가이드</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <!-- PC/Mobile 구분하여 도메인 변경 필요
         PC 환경에서 호출시 https://tpay.smartropay.co.kr/asset/js/SmartroPAY-1.0.min.js?version=현재일자
         Mobile 환경에서 호출시 https://tmpay.smartropay.co.kr/asset/js/SmartroPAY-1.0.min.js?version=현재일자
    -->
    <!-- 운영 전환 시 도메인 변경
         PC : tpay.smartropay.co.kr -> pay.smartropay.co.kr
         Mobile : tmpay.smartropay.co.kr -> mpay.smartropay.co.kr
    -->
    <!-- script 캐시방지를 위해 ?version=today를 추가  ex) SmartroPAY-1.0.min.js?version=20230101 -->
    <script th:inline="javascript" src="https://tpay.smartropay.co.kr/asset/js/SmartroPAY-1.0.min.js?version="+[[${today}]] ></script>

    <script type="text/javascript">
        function goPay() {

            // 스마트로페이 초기화
            smartropay.init({
                mode: "STG"		// STG: 테스트, REAL: 운영(운영서버 전환 시 변경 필수!)
            });

            smartropay.payment(
                {
                FormId : 'tranMgr',				// 폼ID
                Callback : function(res) {
                    var approvalForm = document.approvalForm;
                    approvalForm.Tid.value = res.Tid;
                    approvalForm.TrAuthKey.value = res.TrAuthKey;
                    approvalForm.action = document.getElementById('ReturnUrl').value;
                    approvalForm.submit();
                }
            });
        };
    </script>
</head>


<body>
<div class="container mt-5">
    <form id="tranMgr" name="tranMgr" method="post">
        <!-- 각 값들을 가맹점에 맞게 설정해 주세요. -->
        <div class="mb-3">
            <label for="PayMethod" class="form-label">Payment Method</label>
            <input type="text" class="form-control" id="PayMethod" name="PayMethod" value="CARD" placeholder=""/>
        </div>
        <div class="mb-3">
            <label for="GoodsCnt" class="form-label">Goods Count</label>
            <input type="text" class="form-control" id="GoodsCnt" name="GoodsCnt" maxlength="2" value="1" placeholder=""/>
        </div>
        <div class="mb-3">
            <label for="GoodsName" class="form-label">Goods Name</label>
            <input type="text" class="form-control" id="GoodsName" name="GoodsName" maxlength="40" value="거래 상품명" placeholder=""/>
        </div>
        <div class="mb-3">
            <label for="Amt" class="form-label">Amount</label>
            <input type="text" class="form-control" id="Amt" name="Amt" maxlength="12" th:value="${Amt}" placeholder=""/>
        </div>
        <div class="mb-3">
            <label for="Moid" class="form-label">Moid</label>
            <input type="text" class="form-control" id="Moid" name="Moid" maxlength="40" value="Moid_20210118154643" placeholder="특수문자 포함 불가"/>
        </div>
        <div class="mb-3">
            <label for="Mid" class="form-label">Merchant ID</label>
            <input type="text" class="form-control" id="Mid" name="Mid" maxlength="10" th:value="${Mid}" placeholder=""/>
        </div>
        <div class="mb-3">
            <label for="ReturnUrl" class="form-label">Return URL</label>
            <input type="text" class="form-control" id="ReturnUrl" name="ReturnUrl" size="100" th:value="${ReturnUrl}">
        </div>
        <div class="mb-3">
            <label for="StopUrl" class="form-label">Stop URL</label>
            <input type="text" class="form-control" id="StopUrl" name="StopUrl" size="100" value="결제중단 URL" placeholder="Mobile 연동 시 필수"/>
        </div>
        <div class="mb-3">
            <label for="BuyerName" class="form-label">Buyer Name</label>
            <input type="text" class="form-control" id="BuyerName" name="BuyerName" maxlength="30" value="구매자명"/>
        </div>
        <div class="mb-3">
            <label for="BuyerTel" class="form-label">Buyer Tel</label>
            <input type="text" class="form-control" id="BuyerTel" name="BuyerTel" maxlength="30" value="01099991111"/>
        </div>
        <div class="mb-3">
            <label for="BuyerEmail" class="form-label">Buyer Email</label>
            <input type="text" class="form-control" id="BuyerEmail" name="BuyerEmail" maxlength="30" value="noname@smartro.co.kr"/>
        </div>
        <div class="mb-3">
            <label for="MallIp" class="form-label">Mall IP</label>
            <input type="text" class="form-control" id="MallIp" name="MallIp" maxlength="20" value="10.0.0.1"/>
        </div>
        <div class="mb-3">
            <label for="VbankExpDate" class="form-label">Vbank Exp. Date</label>
            <input type="text" class="form-control" id="VbankExpDate" name="VbankExpDate" maxlength="8" value="20210824" placeholder="가상계좌 이용 시 필수"/>
        </div>
        <div class="mb-3">
            <label for="EncryptData" class="form-label">Encrypt Data</label>
            <input type="text" class="form-control" id="EncryptData" name="EncryptData" th:value="${EncryptData}" placeholder="위/변조방지 HASH 데이터"/>
        </div>
        <div class="mb-3">
            <label for="GoodsCl" class="form-label">Goods Classification</label>
            <input type="text" class="form-control" id="GoodsCl" name="GoodsCl" value="0" placeholder="가맹점 설정에 따라 0 또는 1, 핸드폰결제 시 필수"/>
        </div>
        <div class="mb-3">
            <label for="EdiDate" class="form-label">Edi Date</label>
            <input type="text" class="form-control" id="EdiDate" name="EdiDate" maxlength="14" th:value="${EdiDate}"/>
        </div>
        <div class="mb-3">
            <label for="TaxAmt" class="form-label">Tax Amount</label>
            <input type="text" class="form-control" id="TaxAmt" name="TaxAmt" maxlength="12" value="" placeholder="부가세 직접계산 가맹점 필수, 숫자만 가능, 문장부호 제외"/>
        </div>
        <div class="mb-3">
            <label for="TaxFreeAmt" class="form-label">Tax-Free Amount</label>
            <input type="text" class="form-control" id="TaxFreeAmt" name="TaxFreeAmt" maxlength="12" value="" placeholder="부가세 직접계산 가맹점 필수, 숫자만 가능, 문장부호 제외"/>
        </div>
        <div class="mb-3">
            <label for="VatAmt" class="form-label">VAT Amount</label>
            <input type="text" class="form-control" id="VatAmt" name="VatAmt" maxlength="12" value="" placeholder="부가세 직접계산 가맹점 필수, 숫자만 가능, 문장부호 제외"/>
        </div>
        <div class="text-center">
            <button type="button" class="btn btn-primary" onclick="goPay();">결제하기</button>
        </div>

    </form>

</div>

<form id="approvalForm" name="approvalForm" method="post">
    <input type="hidden" id="Tid" name="Tid" />
    <input type="hidden" id="TrAuthKey" name="TrAuthKey" />
</form>

<!-- Bootstrap JavaScript 및 jQuery -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.min.js"></script>
</body>
</html>
